<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue/dist/vue.js" type="module"></script>
</head>
<body>
  <h1>App 1</h1>
  <div id="app">
      {{ message }}
  </div>

  <h1>App 2</h1>
  <div id="app-2">
    <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
    </span>
  </div>

  <h1>App 5</h1>
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <h1>App 6</h1>
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <h1>App 7</h1>
  <div id="app-7">
    <ol>
      <!--
        Now we provide each todo-item with the todo object
        it's representing, so that its content can be dynamic.
        We also need to provide each component with a "key",
        which will be explained later.
      -->
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </ol>
  </div>


  <script src="__target__/app.js" type="module"></script>
</body>
</html>
